.navbar {
  position: sticky;
  z-index: 999;
  top: 0;
  border-radius: 10px;
  opacity: .9;

  nav {
    display: flex;
    align-items: center;
    column-gap: 256px;
    width: 100%;
    background-color: white;
    margin-top: 70px;
    padding: 10px;

    img {
      max-width: 171px;
      width: 100%;
    }

    .newNav_items {
      display: flex;
      align-items: center;
      column-gap: 239px;

      ul {
        display: flex;
        align-items: center;
        column-gap: 58px;

        li,
        li>a {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: #484848;

          &:hover {
            cursor: pointer;
            color: #f0a500;
          }
        }
      }

      .littleButtons {
        display: flex;
        align-items: center;
        gap: 20px;

        .firstlittle {
          width: 20px;
          height: 20px;
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          transition: transform 0.3s ease;
          cursor: pointer;
        }

        img:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}