.newArrivals {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .newArrivals_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    .new {
      font-weight: 400;
      font-size: 46px;
      line-height: 59.34px;
      text-align: center;
      color: #484848;
    }

    .lorem {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      max-width: 614px;
      width: 100%;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;

    li {
      color: rgba(138, 138, 138, 1);
      padding: 20px 33px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      transition-delay: 0.1s;
    }

    li:hover {
      background-color: rgba(138, 138, 138, 1);
      color: white;
    }

    .second {
      background-color: black;
      color: white;
    }

    .second:hover {
      background-color: black;
      color: white;
    }
  }

  .data {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    .post {
      display: flex;
      flex-direction: column;
      padding: 15px 25px 36px 25px;
      transition: transform 0.3s ease;
      cursor: pointer;

      img {
        max-width: 336px;
        width: 100%;
        border-radius: 10px;
      }

      .littleDiv {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 336px;
        width: 100%;

        p {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          color: #484848;
        }

        img {
          width: 95px;
          height: 20px;
        }
      }

      .views {
        margin-top: 25px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
      }

      .lastDiv {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 336px;
        width: 100%;

        .price {
          font-size: 24px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -1px;
          color: #484848;
        }

        .posit {
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          color: red;
        }
      }
    }

    .post:hover {
      transform: scale(1.1)
    }
  }

  button {
    background-color: black;
    padding: 20px 63px 20px 62px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  button:hover {
    transform: scale(0.9);
  }
}