.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 1280px;
}

.slider-image {
  width: 404px;  // Set a specific width
  height: 582px; // Set a specific height
  object-fit: cover; // Maintain aspect ratio and cover the assigned size
}

.slider-button {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
