.shop-page {
  display: flex;
  /* padding: 100px 30px;   */
}

.filter-section {
  border-right: 1px solid #ddd;
  width: 250px;
}

.filter-title {
  font-family: Volkhov;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  margin-bottom: 20px;
}

.filter-heading {
  font-family: Volkhov;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px;
}

.price-filters,
.brand-filters,
.size-filters {
  list-style: none;
  padding: 0;
}

.price-filters li,
.brand-filters li,
.size-filters li {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 10px 0;
  transition: background-color 0.3s;
  color: #8a8a8a;
}

.size-section {
  margin-bottom: 20px;
}

.size-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.size-filters li {
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  border: 1px solid #ddd;
  opacity: 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.color-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.color-box {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.color-box:hover {
  transform: scale(1.1);
}

.color-palette {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.product-list {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 156px;
  margin-left: 20px;
  justify-content: center;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.fashion {
  font-size: 42px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.under {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: center;
}

.product {
  width: 326px;
  height: 531.61px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease;
  gap: 4px;
}

.product:hover {
  transform: scale(0.9);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 500px);
  gap: 40px;
}

.product-image {
  width: 302px;
  height: 359px;
  margin-bottom: 16px;
  object-fit: cover;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.product-price {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.brand-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.brand-filters li {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.3s;
}