.features_main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;

    .features_box {
        display: flex;
        align-items: center;

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #484848;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #484848;
        }
    }
}