.error-404 {
  text-align: center;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;

  h1 {
    font-size: 80px;
    color: #484848;
  }

  p {
    font-size: 20px;
    color: #484848;
  }

  a {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 30px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }
}
